.noTodo {
  color: darkred;
  border: 1px solid darkred;
  width: 10%;
  padding-left: 15px;
}

.yesTodo {
  color: darkgreen;
  border: 1px solid darkgreen;
  width: 17%;
  padding-left: 15px;
}

.forms {
  display: flex;
}

.select {
  width: 22px;
  height: 22px;
}

.stateTodo {
  padding-top: 5px;
}

.button {
  border: transparent;
  width: 70px;
  height: 22px;
  border-radius: 2px;
  margin-left: 5px;
  background-color: lightblue;
}

input {
  outline-color: rgb(25, 206, 206);
}

.main {
  margin-left: 40%;
}

.select {
  margin-right: 5px;
}