.fail {
  color: darkred;
  border: 1px solid darkred;
  width: 32%;
  padding-left: 15px;
}

.success {
  color: darkgreen;
  border: 1px solid darkgreen;
  width: 17%;
  padding-left: 15px;
}

.forms {
  display: flex;
}

.stateTodo {
  padding-top: 15px;
}

.button {
  border: transparent;
  width: 70px;
  height: 22px;
  border-radius: 2px;
  margin-left: 5px;
  background-color: lightblue;
  box-shadow: 0 0 10px 5px lightblue
}

input {
  outline-color: rgb(25, 206, 206);
  border-radius: 5px;
}

.main {
  margin-left: 40%;
}

.error {
  border: 1px solid red;
  box-shadow: 0 0 10px 5px red;
}